@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_authLayout.cshtml";
}

<div class="container registration m-auto mt-5">
    
    <div class="heading mb-3">Forget My Password</div>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" asp-validation-summary="All"> </div>
    }   
    <span>Enter your Email:</span>
    <form asp-action="SendResetPassword">


        <input class="input" type="email" asp-for="Email" name="email" id="email" placeholder="E-mail">
        <input class="login-button" type="submit" value="Confirm">


    </form>

</div>
