@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_authLayout.cshtml";
}

<div class="container registration m-auto mt-5">
    <div class="heading mb-3">Reset Password</div>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" asp-validation-summary="All"> </div>
    }
    <span>Enter your new password:</span>
    <form asp-action="ResetPassword">
        <input class="input" type="password" asp-for="NewPassword" id="newPassword" placeholder="New Password">
        <input class="input" type="password" asp-for="ConfirmNewPassword" id="confirmNewPassword" placeholder="Confirm New Password">
        <input class="login-button" type="submit" value="Reset my password">
    </form>
</div>
