<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo.PL</title>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

    <style>
        .Logo {
            width: 40px;
        }

        .sa {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        /* New styles for navbar hover effect */
        .navbar-nav .nav-item .nav-link {
            transition: color 0.3s, background-color 0.3s;
        }

            .navbar-nav .nav-item .nav-link:hover {
                color: #ffffff; /* Change text color on hover */
                background-color: #f6f6f6; /* Change background color on hover */
                border-radius: 4px; /* Optional: add rounded corners */
            }
    </style>
</head>
<body>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container col-10">
                <a class="navbar-brand d-flex align-items-center justify-content-center mr-2" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="Logo" src="~/sentimentanalyzericon/emotions_423327.png" />

                    <p class="fa-1x ml-2 mb-0 sa">Senalyzer</p>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ml-3">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Simmulation" asp-action="Index">Simmulation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index" hidden>Department</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index" hidden>Employee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ContactUs" asp-action="ContactUs">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <a asp-controller="Account" asp-action="SignOut" class="btn btn-danger ">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("ValidationSection", required: false)
</body>
</html>

@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo.PL</title>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

</head>
<body>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container col-10">
                <a class="navbar-brand d-flex align-items-center justify-content-center mr-2" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="Logo " src="~/sentimentanalyzericon/emotions_4233279.png" />
                    
                    <p class="fa-1x ml-2 mb-0 sa">SentimentAnalyzer</p>

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Simmulation" asp-action="Index">Simmulation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index" hidden>Department</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index" hidden>Employee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ContactUs" asp-action="ContactUs">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <a asp-controller="Account" asp-action="SignOut" class="btn btn-danger ">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("ValidationSection", required: false)
</body>


</html>

<style>


.Logo {
    width: 40px;
}
.sa {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* New styles for navbar hover effect */
.navbar-nav .nav-item .nav-link {
    transition: color 0.3s, background-color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffffff; /* Change text color on hover */
            background-color: #f6f6f6; /* Change background color on hover */
    border-radius: 4px; /* Optional: add rounded corners */
}
</style>

 *@